pkgbase = python-pyjwt
	pkgdesc = JSON Web Token implementation in Python
	pkgver = 2.8.0
	pkgrel = 2
	url = https://github.com/jpadilla/pyjwt
	arch = any
	license = MIT
	checkdepends = python-cryptography
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/jpadilla/pyjwt.git#tag=72ad55f6d7041ae698dc0790a690804118be50fc
	b2sums = SKIP

pkgname = python-pyjwt
